{% extends "layout.html" %}

{% block subtitle %}
    欢迎访问桂林电子科技大学新闻汇总平台
{% endblock %}

{% block content %}
    <section class="panel">
        <div class="panel-body">
            <div class="btn-row">
                    <a type="button" class="btn btn-primary" href="{{ url_for('college.index') }}">校园主页</a>:
                    <a type="button" class="btn btn-info" href="{{ url_for('college.index_type', news_type=1) }}">桂电要闻</a>
                    <a type="button" class="btn btn-info" href="{{ url_for('college.index_type', news_type=2) }}">校园快讯</a>
                    <a type="button" class="btn btn-info" href="{{ url_for('college.index_type', news_type=4) }}">校内通知</a>
                    <a type="button" class="btn btn-info" href="{{ url_for('college.index_type', news_type=6) }}">学术会议</a>
                    <a type="button" class="btn btn-info" href="{{ url_for('college.index_type', news_type=8) }}">学院动态</a>
                    <a type="button" class="btn btn-info" href="{{ url_for('college.index_type', news_type=9) }}">媒体桂电</a>
                    <a type="button" class="btn btn-info" href="{{ url_for('college.index_type', news_type=10) }}">公  告</a>
                </div>
            <div class="btn-row">
                    <a type="button" class="btn btn-primary" href="{{ url_for('work.index') }}">毕业生就业网</a>:
                    <a type="button" class="btn btn-info" href="{{ url_for('work.index_type', news_type=3) }}">就业公告</a>
                    <a type="button" class="btn btn-info" href="{{ url_for('work.index_type', news_type=4) }}">就业新闻</a>
                    <a type="button" class="btn btn-info" href="{{ url_for('work.index_type', news_type=13) }}">每周来校招聘单位</a>
                    <a type="button" class="btn btn-info" href="{{ url_for('work.index_type', news_type=15) }}">用人单位来校招聘信息</a>
                    <a type="button" class="btn btn-info" href="{{ url_for('work.index_type', news_type=16) }}">用人单位网络招聘信息</a>
                </div>
            </div>
    </section>

    <div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="col-sm-6">
            <div class="panel">
                <div class="panel-heading">
                    校内新闻
                            <span class="tools pull-right">
                                <a href="javascript:;" class="fa fa-chevron-down"></a>
                            </span>
                </div>
                <div class="panel-body">
                    <table class="table">
                        {% if college_news %}
                            <thead>
                            <tr>
                                <th>标题</th>
                                <th>时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in college_news %}
                                <tr>
                                    <td>
                                        <a href="{{ url_for('college.content', id=item.id) }}">{{ item.get('news_title')|safe }}</a>
                                    </td>
                                    <td>
                                        {{ item.get('news_time')|_datetime }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="panel">
                <div class="panel-heading">
                    公告
                            <span class="tools pull-right">
                                <a href="javascript:;" class="fa fa-chevron-down"></a>
                            </span>
                </div>
                <div class="panel-body">
                    <table class="table">
                        {% if college_news %}
                            <thead>
                            <tr>
                                <th>标题</th>
                                <th>时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in notice_news %}
                                <tr>
                                    <td>
                                        <a href="{{ url_for('college.content', id=item.id) }}">{{ item.get('news_title')|safe }}</a>
                                    </td>
                                    <td>
                                        {{ item.get('news_time')|_datetime }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-6">
            <div class="panel">
                <div class="panel-heading">
                    招聘信息
                            <span class="tools pull-right">
                                <a href="javascript:;" class="fa fa-chevron-down"></a>
                            </span>
                </div>
                <div class="panel-body">
                    <table class="table">
                        {% if recruit_news %}
                            <thead>
                            <tr>
                                <th>标题</th>
                                <th>时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in recruit_news %}
                                <tr>
                                    <td>
                                        <a href="{{ url_for('work.content', id=item.id) }}">{{ item.get('news_title')|safe }}</a>
                                    </td>
                                    <td>
                                        {{ item.get('news_time')|_datetime }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="panel">
                <div class="panel-heading">
                    就业网最新信息
                            <span class="tools pull-right">
                                <a href="javascript:;" class="fa fa-chevron-down"></a>
                            </span>
                </div>
                <div class="panel-body">
                    <table class="table">
                        {% if work_news %}
                            <thead>
                            <tr>
                                <th>标题</th>
                                <th>时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in work_news %}
                                <tr>
                                    <td>
                                        <a href="{{ url_for('work.content', id=item.id) }}">{{ item.get('news_title')|safe }}</a>
                                    </td>
                                    <td>
                                        {{ item.get('news_time')|_datetime }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>

{% endblock %}